##################################################
# Config File                                    #
##################################################

[MAIL_FROM]
SERVER = 
PORT = 
NAME = 
ACCOUNT = 
PASSWORD = 

[MAIL_TO]
ACCOUNT = 